# --------------------
# Python
# --------------------
__pycache__/

# --------------------
# Virtual Environments
# --------------------
venv/
# --------------------
# Environment / Secrets
# --------------------
.env
